body{

    background-image: url(https://previews.123rf.com/images/ryzhov/ryzhov1711/ryzhov171100009/89154120-m%C3%A1quina-industrial-de-bordado-en-el-taller-de-costura.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    
    }